name: GitHub Profile 3D Contrib

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate 3D profile card
        uses: Yash-Garg/github-readme-3d-contrib@main
        with:
          user_name: Sanduni204

      - name: Commit & Push the generated files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Generated 3D Profile Card"
          file_pattern: "profile-3d-contrib/**"
